@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Sora:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

.active {
  color: #ec5342ee;
}

.flex {
  display: flex;
}

h1,
h2,
h3 {
  font-family: 'Sora', sans-serif;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.705);
}

ul li {
  list-style-type: none;
}

main {
  background-color: rgb(31, 26, 26);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: rgba(0, 0, 0, 0.61);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.3em 2em;
  position: fixed;
  top: 0;
  left: 0;
}

.date {
  position: absolute;
  color: rgba(0, 0, 0, 0.509);
  bottom: -4rem;
  right: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.hide {
  display: none;
}

.logo {
  color: rgba(255, 255, 255, 0.705);
  font-size: 1.5rem;
  font-weight: 700;
}

.block {
  color: #ec5342f6;
}

.heading {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.356);
  margin-bottom: 4rem;
  font-weight: 700;
}

.nav-menu {
  align-items: center;
}

.nav-items a {
  margin-left: 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
}

.shelve {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2em;
  align-items: center;
  min-height: 100vh;
  max-height: max-content;
}

.book-shelve {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.384);
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid rgba(216, 207, 207, 0.575);
}

.book {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.753);
}

.book-details h3 {
  color: #ec5242;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.book-details p {
  color: rgba(255, 255, 255, 0.788);
  font-size: 1rem;
  font-style: italic;
}

.book button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.753);
  color: rgba(255, 255, 255, 0.822);
  padding: 0.5em 2em;
  box-shadow: 5px 7px 10px black;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.5s ease;
}

.contact {
  width: 100%;
}

.contact p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.7;
}

.details {
  background-color: rgb(31, 26, 26);
  color: rgba(255, 255, 255, 0.663);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 1.5rem;
  height: 100vh;
}

.details ul li {
  margin-bottom: 0.7rem;
  list-style-type: disc;
}

.caption {
  width: 100%;
  justify-content: center;
  font-size: 1.2rem;
  position: relative;
  margin-bottom: 2rem;
}

.caption .heading {
  position: relative;
  margin-bottom: 1rem;
}

.caption .heading::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 30%;
  width: 40%;
  height: 2px;
  background-color: #ec5242;
}

.info {
  font-size: 1.05rem;
}

.form {
  width: 100%;
  max-width: 700px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form .heading {
  margin-bottom: 1rem;
}

form {
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 2em;
}

form input {
  padding: 1em 1.5em;
  border-radius: 15px;
  font-family: inherit;
  border: 1px solid rgba(255, 255, 255, 0.767);
  background-color: rgba(27, 26, 26, 0.192);
  width: 100%;
  font-size: 1rem;
  color: white;
  outline: none;
}

form input:focus {
  border: 1px solid #ec5242;
  transform: scale(1.02);
}

form .btn {
  background-color: rgba(0, 0, 0, 0.466);
  border: 1px solid #ec5242;
  padding: 0.8em 5em;
  align-self: center;
  border-radius: 20px;
  font-size: 1rem;
  color: white;
  transition: all 0.5s ease;
}

.input {
  flex-direction: column;
  gap: 0.5rem;
}

button:hover {
  background-color: #ec5242;
}

.footer {
  background-color: rgba(0, 0, 0, 0.952);
  justify-content: space-evenly;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  padding: 1.5em 2em;
}

.footer .copy {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.808);
}

.footer ul li {
  color: rgba(255, 255, 255, 0.479);
  font-size: 1.2rem;
  line-height: 1.6;
}

.scroll-to-top {
  background-color: #e7200a;
  position: fixed;
  border-radius: 10px;
  bottom: 4rem;
  right: 5%;
  justify-content: center;
  align-items: center;
  display: none;
}

.scroll-to-top.fade {
  display: block;
}

.scroll-to-top a i {
  color: rgba(255, 255, 255, 0.822);
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  header {
    padding: 2em 9em;
  }

  .date {
    right: 9rem;
  }

  .heading {
    font-size: 3.5rem;
  }

  .input {
    flex-direction: row;
  }

  .details {
    font-size: 1.5rem;
  }
}
